.form-title {
  width: 100%;
  background-color: #f4511e;
  margin: auto;
  color: #fff;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

form {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-fields input {
  margin: 10px 0;
  border: 0;
  outline: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
.info h2 {
  position: relative;
  top: -17px;
  margin-left: 10px;
  margin-top: 20px;
  width: 125px;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.info input {
  position: relative;
  left: 130px;
  top: -37px;
  width: 300px;
  line-height: 32px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  border: none;
}
.description-container label {
  display: block;
  margin-bottom: 0.1rem;
}
.input-fields label {
  margin-bottom: 0.1rem;
}
#description {
  height: 420px;
  border-radius: 6px;
  border: none;
}

.radio-main {
  display: block;
}

.cat-radio-Title {
  position: relative;
  top: -17px;

  margin-left: 0px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.cat-radio {
  display: block;
  margin-bottom: 10px;
}

.cat-radio input {
  margin: 0 10px;
  cursor: pointer;
  outline: none;
}

.cat-radio label {
  color: rgb(255, 255, 255);
}

#InputFile {
  color: rgb(255, 255, 255);
}
.add-file {
  display: block;
}
.btn-main {
  margin: 10px auto;
  cursor: pointer;
}

/* .option {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 523px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555; 
    outline: none;
    overflow: hidden;
}

.option option {
    font-size: 20px;
} */

/* .lastname {
    position: relative;
    left: 70px;
    top: -37px;
    width: 100px;
    line-height: 35px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px; 
    color: #555;
} */

/* .lastname {
    position: relative;
    left: 180px;
    top: -78px;
    width: 130px;
    line-height: 35px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
} */

/* .firstlabel {
    position: relative;
    left: 203px;
    top: -45px;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
}

.lastlabel {
    position: relative;
    left: 178px;
    top: -45px;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
} */

/* .code {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 95px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555; 
} */

/* .area-code {
    position: relative;
    left: 58px;
    top: -4x;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
}

.phone-number {
    position: relative;
    left: -100px;
    top: -2px;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
} */

/* .fullname {
    position: relative;
    left: 130px;
    top: -37px;
    width: 200px;
    line-height: 32px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px; 
    color: #555;
}



.location {
    position: relative;
    left: 130px;
    top: -37px;
    line-height: 32px;
    width: 200px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555; 
}

.email {
    position: relative;
    left: 130px;
    top: -37px;
    line-height: 32px;
    width: 200px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555; 
}

.number {
    position: relative;
    left: 130px;
    top: -37px;
    line-height: 32px;
    width: 200px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555; 
} */

/* #name {
    width: 100%;
    height: 100px;
} */

/* .radio {
    display: inline-block;
    padding-right: 70px;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 15px;
    color: white;
} */

/* button {
    background-color: #ee8d1d;
    display: block;
    margin: 20px 0px 20px 0px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #ee8d1d;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}

button:hover {
    background-color: #e9c8a2;
    border: 1px solid #e9c8a2;
} */
