.newFContainer{
    background-color: chocolate;
    width: 550px;
    height: 500px;
    /* height:auto; */
    position: absolute;
    top: 20%;
    left: 50%;
} 

.new-f-card-container {
    display: flex;
}

.new-f-first-col label{
    display: block;
    margin: 10px;
    color: white;
} 

.new-f-second-col img{
width: 200px;
max-height: 400px;
}

#status *{
    display: inline;
}