.test6 {
  background-color: black;
}

.user-list-main {
  background-color: black;
  min-height: 100vh;
  height: auto;
}

.user-radio-container label {
  color: orangered;
}
.user-radio-container {
  display: flex;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-user-list input[type="text"] {
  margin: 10px;
}

.filter-user-list input[type="radio"] {
  margin: 5px 10px 0;
}
