

.preview-card{
    width: 500px;
    height: auto;
    background: #413e3d; 
    border: 1px solid black;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;;
} 

.preview-card img {
    width: 50%;
    float: right;
    
}

.preview-card  div {
    display: inline-block;
    
}